@font-face {
  font-family: 'UbuntuMono';
  src: url('../src/assets/fonts/UbuntuMono-Regular.ttf');
}
@font-face {
  font-family: 'SuperMarioWorld';
  src: url('../src/assets/fonts/Super-Mario-World.ttf');
}

@import 'tailwindcss';
@config '../tailwind.config.js';

@theme {
  --font-ubuntumono: 'UbuntuMono', monospace;
  --font-supermarioworld: 'SuperMarioWorld', monospace;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: 'General Sans', sans-serif;
}



